@model Backend.Models.CredentialTeamView

@{
    ViewBag.Title = "Carnets";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HFPlay</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body style="padding-top: 5px;">

    <div class="container-fluid">


        @if (Model.Team.TeamPlayers.Where(tp => tp.IsAccepted == true).Count() == 0)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>No hay jugadores registrados aún</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        }
        else
        {
            int i = 1;
            foreach (var item in Model.Team.TeamPlayers.Where(tp => tp.IsAccepted == true && tp.IsActive == true).OrderBy(tp => tp.Number))
            {
                <div class="row">
                    <div class="twPc-div">
                        <a class="twPc-bg twPc-block" style="background-image: url('@Url.Content(Model.LeagueCredentialLogo.LeagueMainLogo)')"></a>
                        <div>
                            <a class="twPc-avatarLink">
                                <img alt="" src="@Url.Content(item.User.Picture)" class="twPc-avatarImg">
                            </a>
                            <div class="twPc-divUser">
                                <div class="twPc-divName">
                                    @Html.DisplayFor(modelItem => item.User.FirstName)

                                </div>
                                <div class="twPc-divName">
                                    @Html.DisplayFor(modelItem => item.User.LastName)

                                </div>
                                <div class="twPc-Email">

                                    @Html.DisplayFor(modelItem => item.User.Email)

                                </div>
                                <div class="twPc-divName">

                                    @Html.DisplayFor(modelItem => item.Team.Name)

                                    @if (!string.IsNullOrEmpty(item.Team.Logo))
                                    {
                                        <img src="@Url.Content(item.Team.Logo)" alt="Image" class="twPc-teamLogo" />
                                    }

                                </div>
                            </div>
                            <div class="twPc-divStats">
                                <ul class="twPc-Arrange">
                                    <li class="twPc-ArrangeSizeFit">
                                        <a href="#">
                                            <span class="twPc-StatLabel twPc-block">@Html.DisplayNameFor(model => model.Team.TeamPlayers.FirstOrDefault().User.Birthdate)</span>
                                            <span class="twPc-StatValue">@Html.DisplayFor(modelItem => item.User.Birthdate)</span>
                                        </a>
                                    </li>
                                    <li class="twPc-ArrangeSizeFit">
                                        <a href="#">
                                            <span class="twPc-StatLabel twPc-block">@Html.DisplayNameFor(model => model.Team.TeamPlayers.FirstOrDefault().User.IdentificationCard)</span>
                                            <span class="twPc-StatValue">@Html.DisplayFor(modelItem => item.User.IdentificationCard)</span>
                                        </a>
                                    </li>
                                    <li class="twPc-ArrangeSizeFit">
                                        <a href="#">
                                            <span class="twPc-StatLabel twPc-block">@Html.DisplayNameFor(model => model.Team.TeamPlayers.FirstOrDefault().Number)</span>
                                            <span class="twPc-Number">@Html.DisplayFor(modelItem => item.Number)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="twPc-div" style="text-align:center">
                        <div style="margin:auto">
                            <br />
                            <br />
                            <br />
                            <h6>@Html.DisplayFor(model => model.LeagueCredentialLogo.MainReverseText)</h6>
                            <h6>@Html.DisplayFor(model => model.LeagueCredentialLogo.SecondaryReverseText)</h6>
                            <h6>@Html.DisplayFor(model => model.LeagueCredentialLogo.AlternateReverseText)</h6>
                            <span class="twPc-StatValue">http://www.hfplay.org</span>
                            <span class="twPc-StatValue">Powered by HFSISTEMAS</span>
                        </div>

                    </div>
                </div>
                if (i < 4)
                {
                    i++;
                }
                else
                {
                    <div class="saltopagina"></div>
                    i = 1;
                }

            }

        }

    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>

