
@model Domain.TeamPlayer

@{
                /**/

                ViewBag.Title = "Borrar";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Html.Raw(ViewBag.ErrorMessage)</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h2>Borrar</h2>

<h3>¿Está seguro de borrar esto?</h3>
<div>
    <h4>Jugador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "DetailsTeamLeagueManager", new { id = Model.TeamId }, new { @class = "btn btn-success" })
        </div>
    }
</div>
